* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Poppins, "sans-serif";
  font-size: 15px;
}
.logo a {
  font-family: Qwigley, "sans-serif";
  color: #573a23;
  font-size: 60px;
  line-height: 35px;
}
div.text-center {
  background-color: #d38e3e71;
}
div.text-center p,
p span {
  color: #000;
  font-family: Raleway;
}
p span {
  letter-spacing: 0;
  color: #fff;
}
span {
  letter-spacing: 4px;
}
li {
  list-style-type: none;
}
.btn {
  font-size: 1.2rem !important;
  font-weight: 500 !important;
  outline: none !important;
  background-color: none;
}
.signup,
.login:hover {
  background-color: #d38e3e !important;
  color: #ffffff !important;
}
.login,
.signup:hover {
  color: #d38e3e !important;
  border-color: #d38e3e !important;
  background-color: transparent !important;
}
div.card {
  border-radius: 20px 0 20px 0 !important;
}
div.card img {
  border-radius: 20px 0 0 0 !important;
}
.login {
  border: 2px solid;
  margin-right: 10px;
}
nav {
  min-width: 200px;
}
main {
  background-image: url("./assets/Rectangle5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(100vh - 95px);
}
h2 {
  font-family: Raleway, "sans-serif";
  font-weight: 700 !important;
  line-height: 3.3rem !important;
  letter-spacing: 3px !important;
  width: 700px;
  font-size: 2.5rem !important;
}
p,
h5 {
  font-weight: 500;
  font-family: Poppins, "sans-serif";
}
p {
  color: #d38e3e;
}
h3 {
  font-family: Qwigley, "sans-serif";
  font-size: 3.2rem !important;
}
quote {
  color: #ffffff;
}
div.search-btn {
  width: 750px;
}
input {
  width: 76%;
  border: none;
  outline: none;
  font-size: 1.2rem !important;
  font-weight: 500 !important;
  border-radius: 5px 0 0 5px;
}
.search-btn a {
  font-family: Poppins, "sans-serif" !important;
  border-radius: none;
  letter-spacing: 1.2px;
  background-color: #c87841 !important;
  color: #000000;
  font-weight: bold;
  border-radius: 0;
  padding: 0.1rem;
  width: 14%;
  border-radius: 0 5px 5px 0;
}
@media screen and (max-width: 769px) {
  div.search-btn {
    width: 100%;
    margin: 0;
  }
  .search-btn a {
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
  }
  input {
    width: 100%;
    border-radius: 5px;
  }
  h2 {
    width: unset;
  }
  main {
    padding: 3rem 0;
  }
}
@media screen and (max-width: 425px) {
  h2 {
    font-size: 2rem !important;
    line-height: 2.5rem !important;
  }
}
